.footer-container {
    background-color: #0d0909;
}

.footer__link {
    height: 1.7vh;
    padding-right: 1rem;
    margin-top: 6px;
    font-size: 24px;
    cursor: pointer;
}

.footer-icon {
    font-size: 30px;
    padding-right: 10px;
}

.footer-wrap {
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.footer__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}